<div class="container">
    <form>
      <div class="search">
        <!-- Search -->
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          #searchBox
          (input)="onSearch(searchBox.value)"
        />

        <!-- Progress Bar -->
        <div class="loader" [ngClass]="{ 'show': isLoading }">
          <div class="animation-loader"></div>
        </div>
      </div>

      <!-- Search Result -->
      <div class="search-results">
        <ul class="list-group"  [ngClass]="{'no-results': (countries$ | async)?.length === 0}">
          <li class="list-group-item list-group-item-action" *ngFor="let country of countries$ | async">
            <div class="d-flex p-2 bd-highlight">
              <img
                src="{{ country.flags.svg }}"
                alt="Flag of {{ country.name.official }}"
                class="country-flag"
              />
              <p class="ms-3 country-name">{{ country.name.official }}</p>
            </div>
          </li>
        </ul>
        
        <div class="no-results" *ngIf="(countries$ | async)?.length === 0 && !isLoading">
            No countries found for your search.
        </div>
      </div>

    </form>
</div>